/* jumbotron */
.jumbotron{
    background-size: cover;
    height: 640px;
    margin-top: -70px;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #f6f6f6;
}


.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.custom-btn{
    border-radius: 40px;
    text-transform: uppercase;
}

.san-radius{
    border-radius: 10px;
}

.san-cbody{
    margin-top: 35px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.san-jumbo-bg{
    background-image: url("https://i.imgur.com/El2vVu2.png");
    background-size: cover;
    height: 1000px;
    
}

.san-jumbo-bg2{
    background-image: url("https://i.imgur.com/QYSiVA8.png");
    background-size: cover;
    height: 100%;
}


.san-c250{
    width: auto;
    height: 250px;
}

.san-c150{
    width: auto;
    height: 150px;
}

.san-c500{
    width: 100%;
    min-height: 500px;
    max-height: auto;
}

.san-c900{
    width: 100%;
    height: 900px;
}

.san-c860{
    width: 100%;
    height: 860px;
}


.san-c440{
    width: auto;
    height: 440px;
}

.san-c300{
    width: auto;
    min-height: 300px;
    max-height: auto;
}

.san-c800{
    width: auto;
    height: 800px;
}

.san-cauto{
    width: auto;
    height: auto;
}

.san-news{
    width: auto;
    height: 300px;
}

.san-ctitle{
    width: 100%;
    height: 250px;
}

.san-cf{
    background-color: #fff;
    margin-top:150px;
    display:inline-block;
}
.san-bg-grey{
    background-color:#f9f9f9;
}

.san-bg-blue{
    background-color:#11daff;
}

.san-bg-blue2{
    background-color:#1768DD;
}

.san-cH3{
    margin-top: 35px;
}

.san-bold{
    font-weight: bold;
}

.san-mt-10pr{
padding-top: 6%;
}

.san-mt-10p{
    margin-top: 5%;
    }

.san-mt-10prs{
    margin-top: 10%;
    }

.san-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}

.san-overlay :hover {
    background:linear-gradient(90deg, #43c6ac 0%,#191654 100% );
}

.back-to-top{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
}

.san-font-paragrap{
    font-size: 18px;
}

.san-font-title{
    font-size: 25px;
    font-weight: bold;
}

.img-cust{
    margin-top: 50px;
}

.san-menu{
    transition: 0.3s;
}

.san-menu:hover {
    background-color: #0b63dc;
    color: #fff;
}


















@media only screen and (max-width: 800px) {
    .san-news{
     width: auto;
     height: 150px;
    }
  }